 /* min width style property */

@media screen and (min-width:1480px){
   
}



@media screen and (max-width:1200px){
   
      
}

@media screen and (max-width:1400px){
   
      .banner-cntr h5 {
    font-size: 70px;
    
}

.banner-cntr{
margin-top: 80px;
}

.pricing-card{
           
    height: 94vh;
}

.premium_1 {
    height: 100vh;
}
.premium_1::before {
    content: '';
    height: 108%;
    background-size: 70vh;
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background-image: url(images/price-bg.webp);
    background-repeat: no-repeat;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    border-radius: 10px;
    pointer-events: none;
    object-fit: cover;
}

}

@media screen and (max-width:1024px){
 .banner-img { 
background-size: 1200px;
    height: 600px;
}


.banner-cntr{
padding-top: 80px;
padding-left: 20px;
}
.banner-cntr h5{ 
   font-size: 40px;
    }

    .premium_1::before{
      
        background-size: 123%;
       
        }

        .pricing-card-prm button{
            margin-top: 0px !important;
        }
        .pricing-card {
            height: 70vh;
        }

        .premium_1 {
           
            height: 70vh;
        }
        .premium_1::before {
           
            height: 115%;
            background-size: 52vh;
           
            top: -40px;
           
        }

        .pricing-card-prm button{
            margin-top: 40px !important;
        }
    }
    
       



@media screen and (max-width:768px){
    nav{
    display:none;
    }
    .hamburger{
        display: flex;
       }
    
    .rainbow-header {
        /* border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); */
        border-bottom: 1px solid hsla(0, 100%, 1%, 0.1);
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        align-items: center;  
    
    }
    .banner-cntr p {
       
        width: 85vw;
    }

    .img_button {
        position: absolute;
        bottom: 25px;
        left: 50%;
        padding: 5px 8px !important;
        transform: translateX(-50%);
        border: 1px solid #fff;
        border-radius: 10px;
        font-size: 15px;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img_button a{
        color: #acacac;
    text-decoration: none;
    outline: none;
}
.pricing-card, .premium_1{
    display: none;
}
.img_content {
    display: block;
  }


  .img_button {
    position: absolute;
    bottom: 25px;
    left: 50%;
    padding: 5px 8px !important;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.pricing-footer a{
    text-decoration: none;
    outline: none;
    color: #acacac;
}

.img_content{
    position: relative;
}
.pricing-footer{
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.pricing_img{
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
  
  }

  .crd-rw {
  
    row-gap: 0vh;
    
}

  .footer{
    padding: 40px 0px 40px 0px;
}
.foot-abt{
    margin-top: 50px;
}
}





@media screen and (max-width:767px){
    .logo img { 
        margin-left: 0px;
    }

   

}


@media screen and (max-width:575px){
    .logo img{
        width: 100px;

    }
}


@media screen and (max-width:425px){
    .header-btn a {
        color: white;
        text-decoration: none;
        height: 40px;
        line-height: 30px;
        padding: 0px 20px;
        font-size: 10px;
        font-weight: 500;
    }

    .nav-btn {
        display: flex;
        align-items: center;
        gap: 10px;}


        .rainbow-header {
            /* border-bottom: 1px solid hsla(0, 0%, 100%, 0.1); */
            border-bottom: 1px solid hsla(0, 100%, 1%, 0.1);
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 10px;
            gap: 10px;
        }

        .swiper-button-prev  {
          display: none;
        } 


        swiper-slide img {
            background-image: url(./images/mobile-banner.jpg);
          }

          swiper-slide {
            background-image: url(./images/mobile-banner.jpg);
          }

          .banner-cntr{
           padding-left: 0px;
           padding-top: 0px;
            }

            .section-title {
                padding: 30px 0px;
            }

            .footer{
                padding: 40px 0px 40px 0px;
            }

            .foot-abt{
                margin: 20px 0px 0px 0px;
            }

            .foot-serv {
             
                align-items: start;
                
            }
            .foot-serv ul li a{
             
               font-size: 12px;
                
            }
            

            .foot-info{
                overflow: hidden;
            }

.foot-abt p{
    font-size: 14px;
   
}
             .foot-info p{
                overflow: hidden;
                font-size: 12px;
            }
            .footer .col-6{
                padding: 0px;
            }

}

@media screen and (max-width:376px){
   
}

@media screen and (max-width:325px){
    .header-btn a {
        color: white;
        text-decoration: none;
        height: 40px;
        line-height: 30px;
        padding: 0px 7px;
        font-size: 10px;
        font-weight: 500;
    }
    .banner-cntr h5 {
        font-size: 30px;
    }
    .banner-cntr p {
        font-size: 22px;
        line-height: 35px;
       
    }

    .foot-info p{
        overflow: hidden;
        font-size: 10px;
    }

}